body {
    background-color: rgba(113, 182, 247, 0.728);
    font-family: 'Sono', sans-serif;
  }
  
  .takeActionInfo{
    background-color: rgba(165, 215, 64, 0.616);
    padding: 1%;
    border-radius: 10px;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color:  rgba(165, 215, 64, 0.616);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 20px;
    
  }
  .button:hover {
    background-color: #ddd;
    border-radius: 5px;
  }

  iframe {
    display: block;
    margin: auto;
  }
  