html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

svg {
  width: 100%;
}

.container {
  width: 100%;
  height: 100%;
}
.container canvas {
  display: block;
  width: 100%;
  height: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 110px;
}

.button-share,
.button-action,
.button-learn,
.logout-btn {
  font-size: 15px;
  font-family: monospace;
  padding: 10px 10px;
  margin: 0 10px;
  border: none;
  border-radius: 50%;
  background-color: lightgreen;
  color: #333;
  cursor: pointer;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
}

.button-share:hover,
.button-action:hover,
.button-learn:hover{
  background-color: #ddd;
  border-radius: 50%;
}



header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}

h1 {
  font-size: 40px;
  font-family:monospace;
  text-align: center;
  margin: 0;
  padding: 0;
}

  